<ion-header>
    <ion-toolbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center>My Orders</ion-title>
        <button ion-button icon-only class="filter">
            <ion-icon name="ios-funnel-outline"></ion-icon>
        </button>
    </ion-toolbar>
    <!-- Segment in content -->
    <ion-segment [(ngModel)]="order" color="primary" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="ongoing">
            Ongoing
        </ion-segment-button>
        <ion-segment-button value="completed">
            Completed
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content>
    <div class="ongoing" *ngIf="order == 'ongoing'">
        <ion-card no-margin>
            <ion-card-header>
                <h1 class="orderId">Order # 1101109</h1>
                <ion-badge item-end>PACKING</ion-badge>
            </ion-card-header>
            <ion-card-content>
                <table width="100%" margin-bottom>
                    <thead>
                        <tr>
                            <th>Items</th>
                            <th>Time</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3</td>
                            <td class="small-font">10 mins ago</td>
                            <td>$ 50.44</td>
                        </tr>
                    </tbody>
                </table>
            </ion-card-content>
        </ion-card>
        <ion-card no-margin>
            <ion-card-header>
                <h1 class="orderId">Order # 1101110</h1>
                <ion-badge item-end class="success">Out for Delivery</ion-badge>
            </ion-card-header>
            <ion-card-content>
                <table width="100%" margin-bottom>
                    <thead>
                        <tr>
                            <th>Items</th>
                            <th>Time</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3</td>
                            <td class="small-font">15 mins ago</td>
                            <td>$ 50.44</td>
                        </tr>
                    </tbody>
                </table>

                <!-- (ngModelChange)="onModelChange($event)" -->
            </ion-card-content>
        </ion-card>
    </div>
    <div class="ongoing" *ngIf="order == 'completed'">
        <ion-card no-margin *ngFor="let item of completedOrders">
            <ion-card-header>
                <h1 class="orderId">{{item.orderId}}</h1>
                <ion-badge item-end class="success">Delivered</ion-badge>
            </ion-card-header>
            <ion-card-content class="clearfix">
                <table width="100%" margin-bottom>
                    <thead>
                        <tr>
                            <th>Items</th>
                            <th>Time</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{item.item}}</td>
                            <td class="small-font">{{item.deliverydate}}</td>
                            <td>$ {{item.total}}</td>
                        </tr>
                    </tbody>
                </table>
                <div float-left>
                    <!-- <p class="completed-datetime">{{item.date}}</p> -->
                    <rating [(ngModel)]="item.rate" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
                        nullable="false" no-margin></rating>
                </div>
                <button ion-button icon-left small round float-right class="reorder" (click)="trackPage('MenuPage')">
                    <ion-icon name="md-refresh"></ion-icon>
                    Re-Order
                </button>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>