page-view-ticket {
    ion-toolbar{
        ion-title{
            padding-right: 56px;
        }
    }
    ion-footer{
        ion-list{
            display: flex;    
            height: 56px;
            .item-inner{
                padding-left: 10px;
                padding-right: 0px !important;
            }
            button.button-md{
                height: 100% !important;
                margin: 0 !important;
                background: #fea20f;
                color: #000;
                font-weight: bold;
                font-size: 1.8rem !important;
            }
        }
    }
}
