page-rate-chat {
    .rate-us {
        font-size: 2rem;
        padding: 1rem;
        text-align: center;
        span {
            display: inline-block;
            vertical-align: middle;
        }
    }
    rating {
        display: inline-block;
        vertical-align: middle;
    }
    ul {
        margin: 5px 0px;
        padding: 0px;
        &.rating li {
          padding: 5px 2px !important;
          background: none;
          color: #ffb400;
          ion-icon {
            font-size: 3.5rem;
          }
        }
      }
}
