page-address {
    ion-toolbar{
        .toolbar-content{
            display: flex;
            button{
                background: transparent;
                box-shadow: none;
            }
            .cart{
                background: transparent;
                box-shadow: none;
                ion-badge.badge-md{
                    padding: 4px 0;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    font-size: 1.1rem;
                    position: absolute;
                    top: 0;
                    right: 2px;
                }
            }
        }
    }
    ion-footer {
        ion-toolbar.toolbar-md {
            padding: 0px;
            .toolbar-content{
                button {
                    background: #fea20f;
                    color: #333;
                    font-size: 2rem;
                    font-weight: 700;
                    height: 56px;
                    margin:0px;
                    position: static;
                }  
            }
        }
    }
    .scroll-content {
        background: #efefef;
        ion-list {
            ion-item {
                margin-bottom: 0px;
                padding: 2rem 1rem;
                border-bottom: 1px solid transparent;
                &.item-radio-checked{
                    background: #fff;
                    //border-bottom: 1px solid #ccc;
                    //border-top: 1px solid #ccc;
                    ion-radio {
                        .radio-checked {
                            border-color: #000;
                            .radio-inner {
                                background: #000;
                            }
                        }
                    }
                    &.item-md {
                        ion-label {
                            color: #000;
                        }
                    }
                    &.new-address + .address {
                        display: block;
                    }
                }
                .item-inner {
                    border-bottom: 0 !important;
                }
            }
        }
        .address {
            display: none;
            padding-left: 3rem;
            padding-right: 3rem;
            .item-md {
                background: transparent;
                .item-inner {
                    box-shadow: none;
                }
            }
            textarea {
                border: 1px solid #ccc;
                background: #fefefe;
                margin: 1rem 0;
                border-radius: 10px;
                min-height: 100px;
                font-size: 1.8rem;
                width: 100%;
                padding: 1rem
            }
            button {
                background: #fea20f;
                color: #000;
            }
        }
    }
}
