page-track-order {
    ion-toolbar {
        .toolbar-content {
            .button-md {
                background: transparent;
                box-shadow: none;
                position: absolute;
                top: 8px;
                z-index: 10;
            }
        }
    }
}
