page-signup {
    .scroll-content {
        background: #6b0082;
        h1 {
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            padding: 2rem 0;
            @media (max-height: 640px){
                padding: 0;
            }
        }
        .signupform{
            padding-top: 5rem;
            @media (max-height: 640px){
                padding-top: 0;
            }
            ion-item.item-md{
                background-color: transparent; 
                display: inline-block;
                width: calc(100% - 50px);
                color: #fff;
            }
            .button-md-primary.signup {
                color: #000;
                background-color: #fea20f;
                font-weight: bold;
                font-size: 1.6rem;
                border-radius: 15px;
                height: 52px;
                &.facebook-btn {
                    background: #3c5b9b;
                    color: #fff;
                    margin-bottom: 1rem;
                }
                &.google-btn {
                    background: #d33f31;
                    color: #fff;
                }
            }
            .create-account {
                text-align: center;
                color: #fea20f;
                padding-top: 0;
            }
            .forgot-password {
                text-align: right;
                color: #fff;
                text-transform: uppercase;
                padding: 2rem 0 0;
            }
            .terms-conditions {
                color: #fff;
                text-align: center;
                margin-top: 2rem;
                span {
                    color: #d37330;
                }
            }
        }
        .or-separator {
            position: relative;
            text-align: center;
            color: #fff;
            &:before {
                content: "";
                position: absolute;
                left: 1rem;
                top: 50%;
                width: 40%;
                height: 1px;
                background: #fff;
            }
            &:after {
                content: "";
                position: absolute;
                right: 1rem;
                top: 50%;
                width: 40%;
                height: 1px;
                background: #fff;
            }
        }
    }
}
