<!--
  Generated template for the NearbyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title text-center>Near by Restaurant</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content no-padding>
  <ion-searchbar id="storeLocator" #place no-padding></ion-searchbar>
  <div #map id="map"></div>
  <div class="branchList">
    <ion-card no-margin [attr.data-class]="place.branchHide" *ngFor="let place of nearbyPlaces; index as i">
      <ion-card-header>
        <div class="logo">{{labels[i]}}</div>
        <h1>Street Food Restaurant</h1>
      </ion-card-header>
      <ion-card-content>
        <h2>{{place.vicinity}}</h2>
        <button ion-button round small (click)="openChat()" class="disable-hover">Start Chat</button>
      </ion-card-content>
    </ion-card>
    <button ion-button icon-left class="showAll disable-hover" (click)="showAll()" *ngIf="showFlag">
      <ion-icon name="md-close"></ion-icon>
      Back to List
    </button>
    <!-- <ion-card no-margin [attr.data-class]="branchHide">
      <ion-card-header>
        <div class="logo">A</div>
        <h1>Street Food Restaurant</h1>
      </ion-card-header>
      <ion-card-content>
          <h2>124, Baliester Rd,
          Singapore 345678</h2>
          <button ion-button round small (click)="openChat()" class="disable-hover">Start Chat</button>
      </ion-card-content>
    </ion-card>
    <ion-card no-margin [attr.data-class]="branchHide">
        <ion-card-header>
            <div class="logo">B</div>
          <h1>Briyani Food</h1>
        </ion-card-header>
        <ion-card-content>
            <h2>785, Velington Rd,
            Singapore 14123</h2>
            <button ion-button round small (click)="openChat()" class="disable-hover">Start Chat</button>
        </ion-card-content>
      </ion-card>
      <ion-card no-margin class="show-this">
          <ion-card-header>
              <div class="logo">C</div>
            <h1>Arab Street Biriyani</h1>
          </ion-card-header>
          <ion-card-content>
              <h2>#208, Anna Salai, Thousand Lights West, Chennai</h2>
              <button ion-button round small (click)="openChat()" class="disable-hover">Start Chat</button>
          </ion-card-content>
        </ion-card> -->
  </div>
</ion-content>